@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,900;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --primary-color:#131313;
  --secondary-color: #FD646F;
  --gray-color:#727272;
}
body{
  font-family: 'Work Sans', sans-serif;
  color: var(--primary-color)
}

.navbar-brand{
     font-weight: 700;
     font-size: 45px;
     line-height: 53px;
}
.navbar-brand span{
  color: #FD646F;
}

nav ,header{
  background: rgba(255, 143, 14, 0.096);
}
.nav-link{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  padding-left: 35px !important;
  padding-right: 35px !important;
}
.nav-link:hover{
  color: var(--secondary-color);         
}
header{
  padding: 110px 0 50px;
}
h1{
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: var(--primary-color);
}
h1 strong{
  font-weight: 700;
  color:var(--secondary-color);
  display: block;
}
p{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color:var(--gray-color);
  
}
.btn-custom{
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background: var(--secondary-color);
  border-radius: 8px;
  padding: 20px 25px;
}
.btn-custom:hover{
  color: #FFFFFF;
  background: var(--primary-color);

}
.fuaturesSection{
  padding: 85px 0;
}
h2{
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
/* Dark 03 */
   color: var(--gray-color);
}
h2 b{
  font-weight: 700;
  color: var(--primary-color);
}
h2 strong{
  font-weight: 700;
  color: var(--secondary-color);

}
.block{
  background: #FD646F;
  border-radius: 8px;
  text-align: center;
  color: #FFFFFF;
  max-width: 280px;
  padding: 45px 10px 35px;
  transform: translate( -78px, -106px);

}
.block h3{
  font-weight: 700;
  font-size: 45px;
  line-height: 30px;

  

}
.block span{
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;

}

.featuresSection2{
  padding: 100px 0;
}
.featuresSection2 h2{
  color: var(--primary-color);
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  max-width: 400px;
  border-left: 10px solid #FD646F;
  padding-left: 10px;


}
.card{
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
card-body{
  padding: 30px;
}
.card-title{
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color:var(--primary-color);
}
.factsection{
  padding-bottom: 80px;
  
}
.header{
   max-width: 550px;
   text-align: center;
  margin: 0 auto 80px;
}
.header h2{
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
color: var(--primary-color);
}
.fact{
  border: 1px solid #FD646F;
  border-radius: 8px;
  padding: 45px 0 60px;
  text-align: center;
}
.fact img{
  margin-bottom: 10px;

}
.fact h3{
  font-weight: 600;
font-size: 45px;
line-height: 53px;
text-align: center;
color: #424242;
}
.fact samp{
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #727272;
}
.grayscale img{
  filter: grayscale(1);
}

footer{
  padding: 100px;

}
.last{
  margin: auto;
  width: 100%;
  height: 60px;
  left: 240px;
  top: 4444px;
  background: var(--secondary-color);
  border-radius: 8px;
}
.last p{
  padding: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}